.background{
    background-image: url('../img/bg-image.jpg') !important;
}
.login-said{
    text-align: center;
    
}

.cont-logo_inicio{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_inicio{
    width: 85vh
}

@media (max-width: 800px) {
    .logo_inicio{
        width: 45vh
    }
  
    
}
.pri_mayus::first-letter {
    text-transform: uppercase;
}
.login-said_img{
    margin-top: 90px;
    width: 200px;
}


.login-said_t1{
    color: whitesmoke;
    text-shadow: 2px 10px 4px rgba(0, 0, 0); 
}

.login-said_seg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-said_t2{
    color: whitesmoke;
    text-align: center;
    margin-right: 8px;
    font-size: 25px;   
    font-family: 'Arial', sans-serif; 
    font-size: 24px; 
    font-weight: bold; 
    text-shadow: 2px 10px 4px rgba(0, 0, 0); 
}

/* de header  */
.logo_said_navbar{
    width: 58px;
}

.custom-table{
    width: 100% !important;
}





.btn-x{
    filter: invert(1) !important;
}


.custom-hei{
    height: 40px !important;
}

.mycustom-arrow{
    right: 10px !important;
    top:35px !important
}

@media (min-width: 801) and (max-width: 1400px) {
    .login-said_img {
        margin-top: 50px;
        width: 100px;
    }
    .login-said_seg{
        display:block;
        justify-content: center;
        align-items: center;
    }
    .login-said_t2{
        color: whitesmoke;
        text-align: center;
        margin-top: -10px;
        font-size: 20px;
        /* display:block; */
       
        
    }
}
.my-custom-right{
    right: 100% !important;
}

@media (max-width: 800px) {
    .login-said_img {
        margin-top: 50px;
        width: 170px;
    }
    .login-said_seg{
        display:block;
        justify-content: center;
        align-items: center;
    }
    .login-said_t2{
        color: whitesmoke;
        text-align: center;
        margin-top: -10px;
        font-size: 20px;
        /* display:block; */   
    }
    .custom-hei{
        height: 60px !important;
    }
    .my-custom-none{
        display: none !important;
    }
    .marTop-4-5 {
        margin-top: 0px !important;
    }
    
  
    
}

.select2-container {
    z-index: 2050;
 }
 
.mbn-0{
    margin-bottom: 0px;
}

.custom-h-200{
    height: 150px !important;
}

#map{
    height: 250px;
    width: 100%;
    display: none; 
 }

.marTop-4-5 {
    margin-top: 40px !important;
}



input[type="checkbox"]{
    position: relative;
    width: 60px;
    height: 30px;
    -webkit-appearance: none;
    
    background: rgb(168,168,168);
    outline: none;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.5);

}
input:checked[type="checkbox"]{
    background: rgb(0,123,255);
}

input[type="checkbox"]::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: white;
    transition: 0.2s;
}
input:checked[type="checkbox"]::before{
    left: 30px;
}