.background{
    background-image: url('../img/bg-image.jpg');
}
.login-said{
    text-align: center;
    
}
.login-said_img{
    margin-top: 90px;
    width: 200px;

    
}
.login-said_t1{
    color: whitesmoke;
    text-shadow: 2px 10px 4px rgba(0, 0, 0); 
}

.login-said_seg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-said_t2{
    color: whitesmoke;
    text-align: center;
    margin-right: 8px;
    font-size: 25px;   
    font-family: 'Arial', sans-serif; 
    font-size: 24px; 
    font-weight: bold; 
    text-shadow: 2px 10px 4px rgba(0, 0, 0); 
}
@media (min-width: 801) and (max-width: 1400px) {
    .login-said_img {
        margin-top: 50px;
        width: 100px;
    }
    .login-said_seg{
        display:block;
        justify-content: center;
        align-items: center;
    }
    .login-said_t2{
        color: whitesmoke;
        text-align: center;
        margin-top: -10px;
        font-size: 20px;
        /* display:block; */
       
        
    }
}


@media (max-width: 800px) {
    .login-said_img {
        margin-top: 50px;
        width: 170px;
    }
    .login-said_seg{
        display:block;
        justify-content: center;
        align-items: center;
    }
    .login-said_t2{
        color: whitesmoke;
        text-align: center;
        margin-top: -10px;
        font-size: 20px;
        /* display:block; */
       
        
    }
}




/* de header  */
.logo_said_navbar{
    width: 58px;
}

.custom-table{
    width: 100% !important;
}
